@use 'variables';

.first-submit,
.second-submit {
  grid-area: button;
  width: 35%;
  justify-self: center;
  background-color: variables.$submit-color;
  border-radius: 10px;
  height: 110px;
  font-size: 28px;
  cursor: pointer;

  // &:hover {
  //   background-color: variables.$hover-submit-color;
  // }
}
