$bgc-color: #ffffffc0;
$wrapper-color: #d0cdd7;
$submit-color: rgb(230, 117, 117);
$hover-submit-color: rgb(235, 75, 75);
$header-color: rgb(189, 59, 59);
$loader-border-color: #f3f3f3;
$black-color: #000000;
