@use 'mixin';
@use 'variables';

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 55vw;
  height: 700px;
  background-color: variables.$wrapper-color;

  @media (max-width: 700px) {
    width: 80vw;
    height: 600px;
  }
  @media (max-width: 540px) {
    width: 80vw;
    height: 500px;
  }
}
